<section id="billboard">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <span *ngIf="!(topRatedBooks[0])"><img src="/assets/images/notFound.png" /></span>

                    <ng-container *ngIf="topRatedBooks[0]">
                        <button (click)="onPrevClick()" class="prev slick-arrow">
                            <i class="icon icon-arrow-left"></i>
                        </button>

                        <div class="main-slider pattern-overlay">
                            <ng-container *ngFor="let book of topRatedBooks; let i = index">
                                <div *ngIf="currentIndex === i"
                                    class="slider-item slick-slide slick-current slick-active">
                                    <div class="banner-content">
                                        <h2 class="banner-title">{{book.title | slice : 28}}</h2>
                                        <p>{{book.review | slice : 180}}</p>
                                        <div class="btn-wrap">
                                            <a [routerLink]="['/catalog', book._id]" class="btn btn-outline-accent btn-accent-arrow">Read More<i
                                                    class="icon icon-ns-arrow-right"></i></a>
                                        </div>
                                    </div><!--banner-content-->
                                    <img [src]="book.img" alt="banner" class="banner-image">
                                </div><!--slider-item-->
                            </ng-container>
                        </div><!--slider-->

                        <button (click)="onNextClick()" class="next slick-arrow">
                            <i class="icon icon-arrow-right"></i>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>