<section class="bg-sand padding-large"> 
    <div *ngIf="!book" class="container">
        <div class="row">
            <app-loader/>
        </div>
    </div>

    <div *ngIf="book" class="container">
        <div class="row">
            <!--Image-->
            <div class="col-md-6 details-img">
                <img src="{{book.img}}">
            </div>

            <!--Details-->
            <div class="col-md-6 pl-5">
                <div class="product-detail">
                    <h1>{{book.title}}</h1>
                    <p>Author: {{book.author}} <br><span>Genre: {{book.genre}}</span></p>

                    <span class="price colored">Likes: {{book.likes.length}}</span>

                    <p>{{book.review}}</p>

                    <div *ngIf="authService.isLoggedIn$ | async" class="social-btns">
                        <button *ngIf="!(isOwner)" (click)="addToFavorites()" name="add-to-cart"
                            class="button btn-rounded">Add to
                            favorites</button>
                        <button *ngIf="!(isOwner)" (click)="likeBook()" name="add-to-cart"
                            class="button btn-rounded">Like</button>

                        <ng-container *ngIf="isOwner">
                            <button class="button btn-rounded" (click)="toggleEdit()">Edit</button>
                            <button (click)="deleteBook()" class="button btn-rounded">Delete</button>
                        </ng-container>
                    </div>

                </div>
            </div>

            <!--Comments-->
            <app-comments *ngIf="authService.isLoggedIn$ | async" [bookId]="bookId" />

        </div>
    </div>

</section>

<div [ngStyle]="{ 'display':toggleEditView ?  'block' : 'none'}" id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" (click)="toggleEdit()">X</span>
        </div>

        <section class="form-container edit-container">
            <form [formGroup]="form" (ngSubmit)="editBook()">
                <h3>Edit Book Review</h3>
                
                <!--Title-->
                <label>Title</label>
                <input type="text" name="title" class="box" [value]="book?.title" formControlName="title">
                <ng-container *ngIf="form.get('title')?.touched">
                    <span class="error" *ngIf="form.get('title')?.errors?.['required'] ||
            form.get('title')?.errors?.['minlength']">
                        Book title is required with atleast 3 characters length
                    </span>

                </ng-container>

                <!--Author-->
                <label>Author</label>
                <input type="text" name="author" class="box" [value]="book?.author" formControlName="author">
                <ng-container *ngIf="form.get('author')?.touched">
                    <span class="error" *ngIf="form.get('author')?.errors?.['required'] || 
            form.get('author')?.errors?.['minlength']">
                        Book author is required with atleast 5 characters length
                    </span>
                </ng-container>

                <!--Genre-->
                <label>Genre</label>
                <input type="text" name="genre" class="box" [value]="book?.genre" formControlName="genre">
                <ng-container *ngIf="form.get('genre')?.touched">
                    <span class="error" *ngIf="form.get('genre')?.errors?.['required'] || 
            form.get('genre')?.errors?.['minlength']">
                        Book genre is required with atleast 4 characters length
                    </span>
                </ng-container>

                <!--Image-->
                <label>Image</label>
                <input type="text" name="img" class="box" [value]="book?.img" formControlName="img">
                <ng-container *ngIf="form.get('img')?.touched">
                    <span class="error" *ngIf="form.get('img')?.errors?.['required'] || 
            form.get('img')?.errors?.['maxlength']">
                        Image addres is required with maximum of 250 characters
                    </span>
                    <span class="error" *ngIf="form.get('img')?.errors?.['imageValidator']">
                        Image address should strat with http:// or https://
                    </span>

                </ng-container>

                <!--Review-->
                <label>Review</label>
                <textarea class="box" name="review" [value]="book?.review" formControlName="review"></textarea>
                <ng-container *ngIf="form.get('review')?.touched">
                    <span class="error" *ngIf="form.get('review')?.errors?.['required']">
                        Book review is required with atleast 20 charactes length
                    </span>
                </ng-container>
                <input type="submit" value="Edit" class="btn">
            </form>
        </section>
    </div>

</div>