<section class="bg-sand padding-large">
    <div class="container">
        <div class="row">
            <!--Image-->
            <div class="col-md-6 details-img">
                <img src="{{book?.img}}">
            </div>

            <!--Details-->
            <div class="col-md-6 pl-5">
                <div class="product-detail">
                    <h1>{{book?.title}}</h1>
                    <p>Author: {{book?.author}} <br><span>Genre: {{book?.genre}}</span></p>

                    <span class="price colored">Likes: {{book?.likes?.length}}</span>

                    <p>{{book?.review}}</p>

                    <div *ngIf="authService.isLoggedIn$ | async" class="social-btns">
                        <button *ngIf="!(isOwner)" (click)="addToFavorites()" name="add-to-cart"
                            class="button btn-rounded">Add to
                            favorites</button>
                        <button *ngIf="!(isOwner)" (click)="likeBook()" name="add-to-cart" class="button btn-rounded">Like</button>

                        <ng-container *ngIf="isOwner">
                            <button class="button btn-rounded">Edit</button>
                            <button (click)="deleteBook()" class="button btn-rounded">Delete</button>
                        </ng-container>
                    </div>

                </div>
            </div>

            <!--Comments-->
            <app-comments *ngIf="authService.isLoggedIn$ | async" [bookId]="bookId"/>

        </div>
    </div>
</section>