<div id="header-wrap">

    <div class="top-content">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="main-logo">
                        <a routerLink="/home"><img src="/assets/images/logo2b.png" alt="logo"></a>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="right-element">
                        <a *ngIf="authService.isLoggedIn$ | async" href="#" class="user-account for-buy"><i
                                class="icon icon-user"></i><span>{{ authService.username }}</span></a>

                        <div class="action-menu">

                            <div class="search-bar">
                                <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                                    <i class="icon icon-search"></i>
                                </a>
                                <form role="search" method="get" class="search-box">
                                    <input class="search-field text search-input" placeholder="Search" type="search">
                                </form>
                            </div>
                        </div>

                    </div><!--top-right-->
                </div>

            </div>
        </div>
    </div><!--top-content-->

    <header id="header">
        <div class="container">
            <div class="row">



                <div class="col-md-10">

                    <nav id="navbar">
                        <div class="main-menu stellarnav">
                            <ul class="menu-list">
                                <ng-container>
                                    <li class="menu-item active"><a routerLink="/home" data-effect="Home">Home</a></li>
                                    <li class="menu-item"><a routerLink="/about" class="nav-link"
                                            data-effect="About">About</a></li>
                                    <li *ngIf="authService.isLoggedIn$ | async" class="menu-item"><a
                                            routerLink="/create" class="nav-link" data-effect="About">Create</a></li>
                                    <li class="menu-item"><a routerLink="/catalog" class="nav-link"
                                            data-effect="Shop">Catalog</a></li>
                                </ng-container>
                                <ng-container *ngIf="!(authService.isLoggedIn$ | async)" class="menu-item">
                                    <li class="menu-item"><a routerLink="/login" class="nav-link"
                                            data-effect="Articles">Login</a></li>
                                    <li class="menu-item"><a routerLink="/register" class="nav-link"
                                            data-effect="Contact">Register</a></li>
                                </ng-container>
                                <ng-container *ngIf="authService.isLoggedIn$ | async" class="menu-item">
                                    <li class="menu-item"><a routerLink="/logout" class="nav-link" data-effect="Contact"
                                            (click)="signOut()">Logout</a></li>
                                </ng-container>
                            </ul>

                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>

                        </div>
                    </nav>

                </div>

            </div>
        </div>
    </header>

</div><!--header-wrap-->